body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

.site-header {
    background-color: #1e2842; 
    color: #ffffff; 
    padding: 20px; 
    text-align: center; 
}

.site-header h1 {
    margin: 0; /* Remover margem padrão para o título */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

h3 {            
    text-align: center;
    color: #333;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


.btn {
    background-color: #0073e6;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover {
    background-color: #0057b3;
}


.finalizar-compra {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.finalizar-compra:hover {
    background-color: #03e2ff;
}


h5 {
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    color: #333;
}

#cart-total {
    color: #e60000;
}

#back-to-products {
    margin-top: 10px;
}

.back-to-products:hover {
    background-color: #03e2ff;
}




a.name{
    color: rgb(255, 255, 255);
    text-decoration: none;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; 
    padding: 10px;
  }
  

  .store-name {
    font-weight: bold;
    font-size: 20px;
    text-align: center; 
    flex-grow: 1; 
  }
  

  .cart-icon {
    font-size: 24px;
    position: relative;
  }
  .cart-icon img {
    color: #e60000;
    width: 40px; 
    height: auto; 
  }


  .cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 10px;
    position: absolute;
    top: 1px;
    right: -2px;
    display: inline-block;
    text-align: center;
}
